* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs {
  display: flex;
  gap: 1rem;
}

.tab {
  cursor: pointer;
  padding: 0.5rem;
  background-color: lightgray;
  border-radius: 0.3rem;
}
.tab:hover {
  background-color: rgb(185, 185, 185);
}

/* containers */
.hidden {
  display: none;
}

/* tabs */
.active {
  background-color: lightblue;
}

.containers {
  display: flex;
  background-color: lightgray;
  padding: 1rem;
  margin: 1rem;
  min-width: 600px;
  margin: 1rem 3rem;
  max-width: 1000px;
}

td {
  border: 1px solid black;
  border-collapse: collapse;
}
td {
  padding: 0.2rem 0.5rem;
}
